<!DOCTYPE html>
<html>
<head>
  <title>Patient workers</title>
  <%= stylesheet_link_tag    "patient_workers/application", media: "all" %>
  <%= javascript_include_tag "patient_workers/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
